<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editbook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/main.css" th:href="@{css/main.css}" /> 
</head>
<body>

<form th:object="${book}" th:action="@{../save}" action="#" method="post"> 
<table>
<tr>
	<th></th>
	<th class="vaaka">Author</th>
	<th class="vaaka">Title</th>
	<th class="vaaka">Year</th>
	<th class="vaaka">Isbn</th>
	<th class="vaaka">Price</th>
	<th></th>
</tr>
<tr>	
	<td><input type="hidden" th:field="*{id}" class="form-control"/> </td>
	
	<td><input type="text" th:field="*{author}" /> </td>
	<td><input type="text" th:field="*{title}" /> </td>
	<td><input type="text" th:field="*{year}" /></td>
	<td><input type="text" th:field="*{isbn}" /></td>
	<td><input type="text" th:field="*{price}" /></td>
	<td><input type="submit" value="Save"></input> </td>

	</tr>
	</table>
	</form>
</body>